* {
    margin: 0px;
}

body {
    background-image: linear-gradient(#0046ae, #9198e5);
}

html {
    height: 100%;
}

.div {
    margin: 0px auto;
    margin-top: 15%;
    text-align: center;
    height: 400px;
    width: 270px;
    border-radius: 20px;
    background-image: linear-gradient(rgba(171, 179, 192, 0.694), rgba(220, 234, 248, 0.674));
    padding: 7px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.12),
        0 2px 2px rgba(0, 0, 0, 0.12),
        0 4px 4px rgba(0, 0, 0, 0.12),
        0 8px 8px rgba(0, 0, 0, 0.12),
        0 16px 16px rgba(0, 0, 0, 0.12);



}




.top_title {
    font-size: 18px;
    padding: 7px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.50);
}

.img {
    height: 200px;
    width: 135;
    border-radius: 10px;
}

.img:hover {
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.50);
    transition: 0.2s;
}



















.SongName {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.50);
}

.SongWriter {
    color: #666666;
    font-size: smaller;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-shadow: 2px 2px 5px #666666;
}

.SongWriter:hover {
    color: #2e2e2e;
    cursor: pointer;
    transition: 0.7s;
}










.pre {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
}

input {
    width: 90%;
    border-radius: 10px;
    cursor: pointer;

}


.div:hover {
    background-image: rgba(171, 179, 192, 0.796), rgba(220, 234, 248, 0.792);
}














.play,
.back,
.for {
    border-color: #ffffff;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin-right: 27px;
}

ul,
li {
    display: inline;
    align-items: center;

}


.back,
.for,
.play:hover {
    border-color: #bebebe;
}